* {
    margin: 0;
    padding: 0;
}
.bg {
    position: relative;

    width: 100vw;
    height: 100vh;

    -webkit-transition: background .5s ease-in;
       -moz-transition: background .5s ease-in;
        -ms-transition: background .5s ease-in;
         -o-transition: background .5s ease-in;
            transition: background .5s ease-in;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
